__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
.eggs/
build/
dist/
pip-wheel-metadata/

.venv/
venv/
env/

.env
.env.*

**assets**

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.DS_Store
